body {
  text-align: center;
}

#page {
  max-width: 750px;
  margin: 0 auto;
  padding: 25px 25px 0 25px;
  text-align: left;
}

#branding {
  position: relative;
}

#branding-left {
  position: absolute;
  top: 0;
  left: 0;
}

#branding-right {
  position: absolute;
  top: 0;
  right: 0;
}